<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rk.dao.CustomerDao">

    <resultMap id="customerDetail" type="rk.po.Customer">
        <id column="id" jdbcType="INTEGER" property="id" javaType="java.lang.Integer"/>
        <result column="user_id" jdbcType="INTEGER" property="userId" javaType="java.lang.Integer"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName" javaType="java.lang.String"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" javaType="java.util.Date"/>
        <result column="phone" jdbcType="VARCHAR" property="phone" javaType="java.lang.String"/>
        <result column="gender" jdbcType="TINYINT" property="gender" javaType="java.lang.Byte"/>
        <result column="level_id" jdbcType="INTEGER" property="levelId" javaType="java.lang.Integer"/>
        <result column="level_sign" jdbcType="VARCHAR" property="levelSign" javaType="java.lang.String"/>
        <result column="position_id" jdbcType="INTEGER" property="positionId" javaType="java.lang.Integer"/>
        <result column="customer_id" jdbcType="VARCHAR" property="customerId" javaType="java.lang.String"/>
        <result column="company" jdbcType="VARCHAR" property="company" javaType="java.lang.String"/>
        <result column="note" jdbcType="VARCHAR" property="note" javaType="java.lang.String"/>
    </resultMap>


    <select id="queryByParams" parameterType="rk.query.CustomerQuery" resultMap="customerDetail">
        SELECT c.*,cl.level_sign from crm.customer as c left join crm.customer_level as cl on cl.id = c.level_id
        where user_id = #{userId}
        <trim>
            <if test="queryName != '' and queryName != null">
                and customer_name like concat('%',#{queryName},'%')
            </if>
            <if test="queryCompany != '' and queryCompany != null">
                and company like concat('%',#{queryCompany},'%')
            </if>
            <if test="queryLevel != '' and queryLevel != null">
                and level_id = #{queryLevel}
            </if>
        </trim>
    </select>

    <select id="queryByIdAndUserId" parameterType="java.lang.Integer" resultMap="customerDetail">
        select * from customer where id = #{id} and user_id = #{userId}
    </select>

    <insert id="save" parameterType="rk.po.Customer" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO crm.customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_id,
            <if test="null != customerName">
                customer_name,
            </if>
            <if test="null != phone">
                phone,
            </if>
            <if test="null != gender">
                gender,
            </if>
            <if test="null != levelId">
                level_id,
            </if>
            <if test="null != positionId">
                position_id,
            </if>
            <if test="null != customerId">
                customer_id,
            </if>
            <if test="null != company">
                company,
            </if>
            <if test="null != note">
                note,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{userId},
            <if test="null != customerName">
                #{customerName},
            </if>
            <if test="null != phone">
                #{phone},
            </if>
            <if test="null != gender">
                #{gender},
            </if>
            <if test="null != levelId">
                #{levelId},
            </if>
            <if test="null != positionId">
                #{positionId},
            </if>
            <if test="null != customerId">
                #{customerId},
            </if>
            <if test="null != company">
                #{company},
            </if>
            <if test="null != note">
                #{note},
            </if>
        </trim>
    </insert>

    <update id="update">
        update crm.customer
        <set>
            <if test="customerName != null and customerName != ''">
                customer_name = #{customerName},
            </if>
            <if test="phone!= null and phone != ''">
                phone = #{phone},
            </if>
            <if test="company != null and company != ''">
                company = #{company},
            </if>
            <if test="positionId != null">
                position_id = #{positionId},
            </if>
            <if test="levelId != null">
                level_id = #{levelId},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender},
            </if>
            <if test="note !=null">
                note = #{note},
            </if>
        </set>
            where id = #{id}
    </update>

    <delete id="delete">
        update customer set is_valid = 0 where id = #{id}
    </delete>

</mapper>